body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color: yellow;
    font-family: cursive;
}

.stats_container{
    margin:20px;
    border: dotted green;
    min-width: 200px;
    height: 100px;
    position: relative;
    padding: 20px;
}

.icon{
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.counter{
    font-size: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: green;
}

.stats_container h4{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1px;
    white-space: nowrap; /*To make text in one line */
   }

@media (max-width:600px) {
    body{
        flex-direction: column;
    }
}